<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.fluttery.flutteryaudio">
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application>
    <service android:enabled="true" android:name="live.exit.musicplayer.MusicPlayerService" />
        <receiver android:name="androidx.media.session.MediaButtonReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
